body {
  background-color: rgb(220, 223, 227);
  margin: 0;
}
.container {

}
.heading {
  position: relative;
  background-color: white;
  padding: 10px;
  overflow: auto;
}
.heading-img {
  float: left;
}
.head-navigation {
  float: right;
  position: absolute;
  right: 20px;
  top: 35%;
}
.head-links {
  text-decoration: none;
  margin: 0 0 0 20px;
  padding: 8px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  transition-duration: 0.3s;
}
.head-links:hover {
  color: white;
  background-color: black;
}
.profile {
  font-size: 18px;
}
h2 {
  display: inline;
  font-size: 23px;
  vertical-align: middle;
  float: right;
  font-family: 'Oxygen', sans-serif;
  margin: 7px 15px ;
  font-weight: normal;
}
.card-container {
  text-align: center;
}
.cards {
  width: 350px;
  display: inline-block;
  padding: 0;
  background-color: white;
  margin: 30px;
  box-shadow: 0 0 5px 6px rgba(200, 203, 207, 1);
}
.card-img {
  width: 80%;
  height: 35%;
}
h3 {
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  margin: 7px;
}
.card-content {
  padding: 1px 10px 0 15px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.card-action {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 8px;
  width: 55%;
  color: white;
  margin: 10px auto 20px;
  background-color: rgb(9, 186, 27);
}
.card-action:hover {
  animation: bounce 0.5s;
}
@media screen and (max-width: 680px) {
  .cards {
    width: 85%;
  }
  .card-img {
    width: 70%;
    height: 30%;
  }
  h3 {
    font-size: 29px;
  }
  .card-content {
    font-size: 110%;
  }
  .card-action {
    font-size: 140%;
    margin-bottom: 30px;
  }

}
